<%= link_to 'About', about_path %>
<%= link_to 'Home', root_path %>

<h1><%= @article.persisted? ? 'Edit' : 'Create' %> an Article</h1>

// update method not action!  
<form action=<%= @article.persisted? ? article_path(id:@article.id) : articles_path  %> method= <%= @article.persisted? ? 'patch' : 'post' %>>


</form>

<%# how to display form %>
<%# how to injest data to create a new Article %>
